<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
        {% include svg.html %}
        <header class="head">
            {% include header.html %}
            {% include nav.html %}
        </header>
        {% include search.html %}
        <section class="margin">
            <div class="content">
                <div class="content_container">
                    <article>
                        {% if page.type == "vimeo" %}
                            {% if page.vimeo-embed %}
                                <div class="video_container">
                                    {{ page.vimeo-embed }}
                                </div>
                            {% endif %}
                        {% elsif page.type == "youtube" %}
                            {% if page.yt-video-id %}
                                <div class="video_container">
                                    <iframe src="https://www.youtube.com/embed/{{page.yt-video-id}}?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                                </div>
                            {% endif %}
                        {% elsif page.type == "youku" %}
                            {% if page.yk-video-id %}
                                <div id="youkuplayer_post"></div>
                                <script type="text/javascript" src="http://player.youku.com/jsapi">
                                player = new YKU.Player('youkuplayer_post',{
                                styleid: '1',
                                client_id: '8f66408e147b527a',
                                vid: '{{page.yk-video-id}}',
                                show_related: false,
                                autoplay: false
                                });
                                </script>
                            {% endif %}
                        {% elsif page.type == "image" or page.type == "gallery" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                        {% elsif page.type == "webimage" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                        {% elsif page.type == "audio" %}
                            {% if page.audio-embed %}
                                {{ page.audio-embed }}
                            {% endif %}
                        {% endif %}

                        <h1 class="post_title">
                            {{ page.title }}
                        </h1>
                        <div class="meta">
                            {% include author.html%} &bull;
                            <span class="date">
                                Published on {{ page.date | date: '%B %d, %Y' }}
                            </span>
                        </div>
                        {% if page.type == "standard" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                        {% endif %}
                        <div class="post_content">
                            {{ content }}
                        </div>
                        {% if page.category || page.tags %}
                        <div class="catsandtags">
                            {% if page.category %}
                            <p class="category">
                                <span class="name">Categories:</span>
                                {{ page.categories | category_links }}
                            </p>
                            {% endif %}
                            {% if page.tags %}
                            <p class="tags">
                                <span class="name">Tags:</span>
                                {% for tag in page.tags %}
                                    <a href="{{ site.tag_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ tag }}">{{ tag }}</a>
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>
                        {% endif %}

                        <div class="ds-share flat" data-thread-key={{ page.id }} data-title={{ page.title }} data-images="{{ site.media_folder | prepend: site.url | replace: '//', '/'}}/{{ page.featimg }}" data-content="{{ post.excerpt | strip_html | truncatewords: 15 }}" data-url="{{ site.url }}{{ page.url }}">
                            <div class="ds-share-aside-right">
                              <div class="ds-share-aside-inner">
                              </div>
                              <div class="ds-share-aside-toggle" style="background: #fba827;">分享到</div>
                            </div>
                        </div>

                        <!-- 多说评论框 start -->
                            <div class="ds-thread" data-thread-key={{ page.id }} data-title={{ page.title }} data-url="{{ site.url }}{{ page.url }}"></div>
                        <!-- 多说评论框 end -->
                        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                        <script type="text/javascript">
                        var duoshuoQuery = {short_name:"bodesmile"};
                            (function() {
                                var ds = document.createElement('script');
                                ds.type = 'text/javascript';ds.async = true;
                                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                                ds.charset = 'UTF-8';
                                (document.getElementsByTagName('head')[0] 
                                 || document.getElementsByTagName('body')[0]).appendChild(ds);
                            })();
                            </script>
                        <!-- 多说公共JS代码 end -->
                    </article>
                    <div class="post_nav">
                        {% if page.previous.url %}
                        <a class="prev" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-angle-left"></i>上一篇</a>
                        {% endif %}
                        {% if page.next.url %}
                        <a class="next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">下一篇<i class="fa fa-angle-right"></i></a>
                        {% endif %}
                    </div>
                </div>
                {% include sidebar.html %}
            </div>
        </section>
        {% include footer.html %}
        <script src="{{ site.baseurl | replace: '//', '/' }}/js/build/global.min.js"></script>
    </body>
</html>
